<%= form_with model: category, local: true do |f| %>
    <div>
<div>
    <%= f.label :name %>
    <%= f.text_field :name %>
</div>

<div>
    <%= f.label :icon %>
    <%= f.text_field :icon %>
</div>
<%= f.submit "Save" %>
</div>
<% end %>