<%= form_with model: category, local: true do |f| %>
<div class="form-card">
    <div class="form-field">
        <%= f.text_field :name, placeholder: "Category Name" %>
    </div>

    <% options = [ ["ðŸ  Housing", "ðŸ "],
    ["ðŸ¥ Health", "ðŸ¥"],
        ["ðŸ¶ Pet expenses", "ðŸ¶"],
        ["ðŸ“š Book", "ðŸ“š"],
        ["ðŸ’» Electronics", "ðŸ’»"],
        ["ðŸŽ Gift", "ðŸŽ"],
        ["ðŸ” Food and dining", "ðŸ”"],
    ["ðŸ›’ Groceries", "ðŸ›’"],
    ["ðŸš— Tranportation", "ðŸš—"],
    ["ðŸŽ¬ Entertainment", "ðŸŽ¬"],
    ["ðŸ‘” Clothing", "ðŸ‘”"],
    ["ðŸŽ“ Education", "ðŸŽ“"],
    ["ðŸ§¾ Others", "ðŸ§¾"],
  ] %>



    <div class="form-field">
    <%= f.select :icon, options_for_select(options, selected: category.icon), {prompt: "Select an icon" } ,{class:"icon-drop"}%>
    </div>
    <div class="action-form">
        <%= f.submit "Save" %>
        <%= link_to 'Cancel', categories_path %>
    </div>
</div>
<% end %>