<%= form_with model: category, local: true do |f| %>
<div class="form-card">
    <div class="form-field">
        <%= f.text_field :name, placeholder: "Category Name" %>
    </div>

    <div class="form-field">
        <%= f.text_field :icon, placeholder: "Category icon" %>
    </div>
    <div class="action-form">
        <%= f.submit "Save" %>
        <%= link_to 'Cancel', categories_path %>
    </div>
</div>
<% end %>