<h1>Categories</h1>
<%= link_to "Log Out", logout_path %>
<% if @categories.any? %>
    <ul>
        <% @categories.each do |category| %>
        <li>
            <%= link_to category.name, category_budget_logs_path(category) %>
            <%= category.icon %>
            Total spent: <%= category.total_spent %>
        </li>
        <% end %>
    </ul>
    <% else %>
    <p>There are no categories yet!</p>
    <% end %>
    <%= link_to "New Category", new_category_path %>
   
